div#d2 {
    background-image: url(https://b.top4top.io/p_1914kro320.jpg);
    background-size: cover;
}
div#d2bc {
    background-image: url(https://c.top4top.io/p_1914xg3z21.jpg);
    background-size: cover;
}
.cont.fr.filh {
    background-image: url(https://b.top4top.io/p_1914kro320.jpg);
    background-color: #ffffff00;
}
.d2.filh.break.light {
    background-color: #ffffff00 !important;
}
.uzr.fl.corner.borderg.hmsg.mm {
    background-color: #00000045!important;
}
